<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Spaza App</title>
        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/css/agency.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="page-top" class="index">
        
        <div class="container">
            <!-- Navigation -->
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="/">Nelisa Spaza</a>
                    </div>
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li class="home"><a href="/">Home</a></li>

                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/products">Product List</a></li>
                                    <li><a href="/products/popularProduct">Popular Product</a></li>
                                    <li><a href="/products/leastProduct">least Product</a></li>
                                    <li><a href="/products/earningsPerProduct">earnings / Product</a></li>
                                    <li><a href="/products/profitsPerProduct">profits/product</a></li>
                                </ul>
                            </li>

                            <li class="sales"><a href="/sales">Sales</a></li>
                            <li class="purchases"><a href="/purchases">Purchases</a></li>
                            <li>
                            <a href = "#" class="dropdown-toggle" data-toggle ="dropdown">Categories<span class="caret"></span>
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/categories">Category List</a></li>
                                    <li><a href="/categories/popularCat">PopularCategory</a></li>
                                    <li><a href="/categories/leastCategory">least Category</a></li>
                                    <li><a href="/categories/earningsPerCategory">Earnings/Category</a></li>
                                    <li><a href="/categories/profitsPerCategory">Profits/Category</a></li>
                                </ul>
                            </li>
                            <li class="suppliers"><a href="/suppliers">Suppliers</a></li>
                            <li class="logOut"><a href="/logOut">Logout</a></li>
                        </ul>
                        <!-- /.container -->
                    </div>
                </div>
            </nav>
            
                    <!-- jQuery -->   
            
            
                {{{body}}}
            </div>
    

    </body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/search.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>