<!-- <h1>Add</h1> 

 <form action="/categories/add" method="POST">
  category_name : <input type="text" name="category_name" value="{{category_name}}">
  <input type="submit">
  <p><a href="/">Go back</a></p>
</form> -->


<div id="gradient"></div>
<form class="searchbox" action="/categories/search" method="POST">
  <input type="search" placeholder="Search" name="searchValue" id="hsearc"/>
  <button type="submit" value="search">&nbsp;</button>
</form>


<div class="container">
  <table class="col-xs-10" id="categories">
    <tr>
      <thead>
        <th>Category Name</th>
      </thead>
    </tr>

    <tbody>
      {{#categories}}
        <tr>

<td>{{category_name}}</td>



<td> 
  <a href="/categories/editCategories/{{id}}">Edit</a>
  <a href="/categories/delete/{{id}}">Delete</a>
</td>

</tr>
{{/categories}}

</tbody>
</table>
</div>
<a href="/categories"><button>Show All Categories</button></a>
