<div class="earn">
	<table>
		<thead>
			<th>Category Name</th>
			<th>Earnings</th>
		</thead>

		<tbody>
			{{#earningsPerCategory}}
			<tr>
				<td>{{category_name}}</td>
				<td>{{earninigs}}</td>
			</tr>
			{{/earningsPerCategory}}
		</tbody>

	</table>
</div>







