<div class="earn">
		<table>
			<thead>
				<th>profitable Product</th>
				<th>Amount</th>
			</thead>

			<tbody>
				{{#earningsPerProduct}}
				<tr>
				<td>{{product_name}}</td>
				<td>{{EARNINGS}}</td>
			</tr>

			{{/earningsPerProduct}}
		</tbody>
	</table>
</div>


