  <div class="intro-lead-in"><u>Welcome To Nelisa Spaza Shop!</u></div>



{{#if user}}
    Hello, {{user.name}}
{{/if}}

{{user.is_admin}}

{{# if user.is_admin}}
Welcome admin user!

{{/if}}

<a href="/logout">Logout</a>
 