<!-- <h1>Nelisa's spazza-shop</h1>

<ul>
<li><a href="product">products</a></li>
<li><a href="/product/products">sold products</a></li>
<li><a href="/product/categories">category</a></li>
<li><a href="/product/mostpopularItems">popular products</a></li>
<li><a href="/product/mostPopularCategory">popular category</a></li>
<li><a href="/product/leastPopularItems">least popular product</a></li>
<li><a href="/product/leastPopularCategory">least popular category</a></li>
</ul -->



<!--home.handlebars: FETCHING THE ROUTES/FILES and HANDLE BARS--!> 

