<h1>Wanna get in ?</h1>
         <form>
            <input type="textbox" name="username" class="box1" placeholder="username"/> <br> <br>
            <input type="textbox" name="password" placeholder="password" class="box2"><br><br>
            <input type="submit" value="Login" class="login-button">
        </form>
        <p>Don't have an account ? <a href="/">Sing Up</a> now.</p>