
<h1>Least Category</h1> 

<div class="container">
  <table class="col-xs-10">
    <tr>
      <thead>
        <th><h2>Category Name</h2></th>
        <th><h2>Quantity</h2></th>
      </thead>
    </tr>

    <tbody>
      {{#leastCategory}}
      <tr>

        <td>{{category_name}}</td>
        <td>{{QTY}}</td>

        </tr>
      {{/leastCategory}}


</tbody>
</table>
</div>
