<h1>login</h1>


{{#if msg}}
<div class="message">
    {{msg}}
</div>
{{/if}}

<form class="" action='/login' method="post">
    <input type="text" name="username" required="required"  placeholder="username">
    <input type="password" name="password" required="required" placeholder="password">
    
    <input type="submit" name="name" value="login">
    <p> don't have an account? signup <a href="/signUp">here </a> </p>
</form>

