<!DOCTYPE html>
<html>
<head>
<style type="text/css">
* {font-family: calibri;}

body {
  background : #f1f1f1;margin: 10% 40%;width: 400px;
  background-color: blue;
}

input {
  box-shadow: 2px 2px 5px #808080;
}

h1 {font-size: 40px;color: #aaa;}
.box{border-radius: 5px solid black;
  border: 10px;
}

.login-button {
  background: #008080;
  height: 40px;
  width: 265px;
  color: #ffffff;
  border: transparent;
  border-radius: 4px;
  font-size: 20px;
}

a{
  text-decoration: none;color: #008080;
}

.box1,.box2 {
  width: 244px;
  font-size: 25px;
  border: 0.5px #ccc solid;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: consolas;
}
</style>
</head>
<div class="box">
<h1>login</h1>

<form class="" action='/login' method="post">
    <input type="text" name="username" required="required"  placeholder="username" class="box1"> <br><br>
    <input type="password" name="password" required="required" placeholder="password" class="box2">
    <br> <br>
    <input type="submit" name="name" value="login">
    <p> don't have an account? signup <a href="/signUp">here </a> </p>
    {{messages.messages}}
</form>
</div>
      
</html>