<DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

<div id="wraper">
	<div class="form">
		<form action="/signup" method="post">
			<input type="name" name="username" placeholder="username">
			<input type="password" class="text" placeholder="Password">
			<input type="submit" value="login"/>
		</form>

		<p>Don't have an account<a href="/login">here</a></p>
	</div>
</div>
</html>
</body>
