<div id="gradient"></div>

  <input type="search" placeholder="Search" id="searchTerm" name="searchValue" />

<div class="container-fluid" id="products">
  <table class="col-xs-7">
    <tr>
      <thead>
        <th>Id</th>
        <th>Product Name</th>
     
        <th>Edit/Delete</th>
      </thead>
    </tr>

<tbody>
  {{#products}}
  <tr>
      <td>{{id}}</td>
      <td>{{product_name}}</td>
    
    <td>
      <a href="/products/edit/{{id}}">Edit</a>
      <a href="/products/delete/{{id}}">Delete</a>
    </td>

  </tr>
  {{/products}}
 </tbody>
  </table>
</div>