
<div id="gradient"></div>

  <input type="search" placeholder="Search" id="productSearch" name="searchValue" />

<div class="CSSTableGenerator" >
  <table class="col-xs-7" id="products">
    <thead>
      <tr>
        <td>Id</td>
        <td>Product Name</td>
        <td>Edit/Delete</td>
      </tr>
    </thead>

    <tbody>
      {{#products}}
      <tr>
        <td>{{id}}</td>
        <td>{{product_name}}</td>
    
        <td>
          <a href="/products/edit/{{id}}">Edit</a>
          <a href="/products/delete/{{id}}">Delete</a>
        </td>

      </tr>

     <!--  <table class="table table-striped" id="products">
    <thead>
        <tr>
            <th>Row</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Carter</td>
            <td>johncarter@mail.com</td>
        </tr> -->

      {{/products}}
    </tbody>
  </table>
</div>
