


	<table class="col-xs-10">
		<tr>
			<thead>
				<th>Id</th>
				<th>Product Name</th>
				<!-- <th>Category Name</th> -->

			</thead>
		</tr>

		<tbody>	
			{{#products}}
			<tr>
				<td>{{id}}</td>
				<td>{{product_name}}</td>
				<!-- <td>{{category_name}}</td> -->

			</tr>
			{{/products}}
		</tbody>	
	</table>



