<h2>Sold Products</h2>
<div class="container">
<table class="col-xs-10">
	<thead>
		<th>Products</th>
		<th>Amount</th>
	</thead>
{{#each product}}

<tr>

	<td>{{@key}} </td>
	<td>{{this}}</td>
</tr>

{{/each}}

</table>
</div>
