
<div id="gradient"></div>

<input type="search" placeholder="Search" id="productSearch" name="searchValue" />

<div class="CSSTableGenerator" >
  <table class="col-xs-7" id="products">
    <tr>
      <thead>
        <td>Id</td>
        <td>Product Name</td>
     
        <td>Edit/Delete</td>
      </thead>
    </tr>

    <tbody>
      {{#products}}
      <tr>
        <td>{{id}}</td>
        <td>{{product_name}}</td>
    
        <td>
          <a href="/products/edit/{{id}}">Edit</a>
          <a href="/products/delete/{{id}}">Delete</a>
        </td>

      </tr>
      {{/products}}
    </tbody>
  </table>
</div>
