<div id="gradient"></div>
	<div class="CSSTableGenerator" >
		<table class="col-xs-10">
			<tr>
				<thead>
					<td>Category Name</td>
					<td>profits</td>
				</thead>
			</tr>
			
			<tbody>
				{{#profitsPerCategory}}
				<tr>
					<td>{{category_name}}</td>
					<td>R{{profits}}</td>
				</tr>
				{{/profitsPerCategory}}
			</tbody>
		</table>
	</div>
