
	<div id="gradient"></div>
	<div class="CSSTableGenerator" >
	<!-- <div class="Profits"> -->
		<table class="col-xs-8">
			<thead>
				<td>Product Name</td>
				<td>Supplier Name</td>
				<td>profits</td>
			</thead>

			<tbody>
				{{#profitsPerProduct}}
				<tr>
					<td>{{product_name}}</td>
					<td>{{supplier_name}}</td>
					<td>R{{profits}}</td>
				</tr>
				{{/profitsPerProduct}}
			</tbody>

		</table>
</div>
