<div class="CSSTableGenerator" >
<table class="col-xs-10">
	<tr>
		<td>Id</td> 
		<td>Category Name</td>
	</tr>
	<tbody>
		{{#categories}}
		<tr>
			<td>{{id}}</td>
			<td>{{category_name}}</td>
		</tr>
		{{/categories}}
	</tbody>
	<a href="/categories"><button>Show All Categories</button></a>
</table>