<div class="CSSTableGenerator" >
<table class="col-xs-6">
	<tr>
		
		<td>Id</td>
		
		<td>Supplier Name</td>
	</tr>	

	<tbody>
		{{#suppliers}}
		<tr>
			<td>{{id}}</td>
			<td>{{supplier_name}}</td>
		</tr>
		{{/suppliers}}
	</tbody>
	<br>
	<br>
	<a href="/suppliers"><button>show All </button></a>	
</table>	
</div>