<table class="col-xs-6">
	<tr>
		
		<th>Id</th>
		<th>Product Name</th>
		<th>Price</th>
		<th>Date</th>

	</tr>
	<tbody>
		{{#sales}}
		<tr>
			<td>{{id}}</td> 
			<td>{{product_name}}</td>
			<td>{{sales_price}}</td>
			<td>{{sales_date}}</td>
			
		</tr>
		{{/sales}}
	</tbody>
	<br>
	<br>
	<a href="/sales"><button>Show All Sales</button></a>
</table>