<div class="CSSTableGenerator" >
<table class="col-xs-6">
	<tr>
		
		
			<td>Id</td>
			<td>Product Name</td>
			<td>Price</td>
			<td>Date</td>
	
	</tr>
	<tbody>
		{{#sales}}
		<tr>
		
			<td>{{id}}</td> 
			<td>{{product_name}}</td>
			<td>{{sales_price}}</td>
			<td>{{sales_date}}</td>
			
		</tr>
		{{/sales}}
	</tbody>
	<br>
	<br>
	<a href="/sales"><button>All Sales</button></a>
</table>