
      <div id="container">

        <ul class="people_list">

           <h1>SignUp please</h1>
            <form class="" action="/signUp" method="post">
            <input type="textbox" name="username" class="box1" placeholder="username"/> <br> <br>
            <input type="password" name="password" placeholder="password" class="box2"><br><br>
            <input type="submit" />
        </form>
        
        </ul>
      </div>  