<div id="container">
	<h1>Suppliers</h1>

	<!--<h1>Add</h1>

 <form action="/suppliers/add" method="POST">
  Supplier name : <input type="text" name="supplier_name" value="{{supplier_name}}">

  <input type="submit">
  <p><a href="/"><u>< Go back</u></a></p>
</form> -->

<div id="gradient"></div>
<form class="searchbox" action="/categories/search" method="POST">
  <input type="search" placeholder="Search" id="search" />
  <button type="submit" value="search">&nbsp;</button>
</form>

<div class="container">
  <table class="col-xs-10">
    <tr>
      <thead>
        <th><h2>Supplier Name</h2></th>
      </thead>
    </tr>

    <tbody>
      {{#suppliers}}
      <tr>
		<td>{{supplier_name}}</td>

		<td> 
  			<a href="/suppliers/editSuppliers/{{id}}">Edit</a>
  			<a href="/suppliers/delete/{{id}}">Delete</a>
		</td>

	</tr>
{{/suppliers}}

</tbody>
</table>
</div>


